In [13]:
import pandas as pd
df = pd.read_csv ('social_media_viral_content_dataset.csv')

In [14]:
df

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,2024-08-04 00:00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28 00:00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,SM_101995,YouTube Shorts,text,Sports,es,US,2024-02-11 00:00:00,#funny #music #ai,14112183,486627,9430,91550,0.0416,-0.541,1
1996,SM_101996,Instagram,text,Politics,en,Brazil,2024-02-12 00:00:00,#viral #trending,5604744,467062,2764,16092,0.0867,0.287,1
1997,SM_101997,X,carousel,Education,ur,UK,2024-05-01 00:00:00,#trending #fyp,2031920,253990,40963,95697,0.1923,0.604,1
1998,SM_101998,X,carousel,Sports,ur,UK,2024-12-23 00:00:00,#funny #trending #tech,5237350,209494,15042,67422,0.0557,-0.861,1
1999,SM_101999,X,carousel,Politics,ur,Pakistan,2024-11-04 00:00:00,#viral #funny,3369429,481347,13455,9492,0.1497,0.297,1

In [15]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,2024-08-04 00:00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28 00:00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1

In [16]:
df.tail()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
1995,SM_101995,YouTube Shorts,text,Sports,es,US,2024-02-11 00:00:00,#funny #music #ai,14112183,486627,9430,91550,0.0416,-0.541,1
1996,SM_101996,Instagram,text,Politics,en,Brazil,2024-02-12 00:00:00,#viral #trending,5604744,467062,2764,16092,0.0867,0.287,1
1997,SM_101997,X,carousel,Education,ur,UK,2024-05-01 00:00:00,#trending #fyp,2031920,253990,40963,95697,0.1923,0.604,1
1998,SM_101998,X,carousel,Sports,ur,UK,2024-12-23 00:00:00,#funny #trending #tech,5237350,209494,15042,67422,0.0557,-0.861,1
1999,SM_101999,X,carousel,Politics,ur,Pakistan,2024-11-04 00:00:00,#viral #funny,3369429,481347,13455,9492,0.1497,0.297,1

In [19]:
df.shape

(2000, 15)

In [21]:
df.columns

Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

In [22]:
df.info

<bound method DataFrame.info of         post_id        platform content_type       topic language    region  \
0     SM_100000       Instagram         text      Sports       ur        UK
1     SM_100001       Instagram     carousel      Sports       ur    Brazil
2     SM_100002  YouTube Shorts        video  Technology       ur        UK
3     SM_100003               X         text    Politics       ur        US
4     SM_100004  YouTube Shorts         text   Education       es        US
...         ...             ...          ...         ...      ...       ...
1995  SM_101995  YouTube Shorts         text      Sports       es        US
1996  SM_101996       Instagram         text    Politics       en    Brazil
1997  SM_101997               X     carousel   Education       ur        UK
1998  SM_101998               X     carousel      Sports       ur        UK
1999  SM_101999               X     carousel    Politics       ur  Pakistan

            post_datetime                         hashtags     views   likes  \
0     2024-12-10 00:00:00              #tech #funny #music   2319102  122058
1     2024-10-13 00:00:00  #news #fyp #funny #ai #trending   2538464  110368
2     2024-05-03 00:00:00                        #ai #news   1051176   87598
3     2024-08-04 00:00:00                       #ai #funny   5271440  329465
4     2024-03-28 00:00:00     #news #ai #viral #funny #fyp   3186256  199141
...                   ...                              ...       ...     ...
1995  2024-02-11 00:00:00                #funny #music #ai  14112183  486627
1996  2024-02-12 00:00:00                 #viral #trending   5604744  467062
1997  2024-05-01 00:00:00                   #trending #fyp   2031920  253990
1998  2024-12-23 00:00:00           #funny #trending #tech   5237350  209494
1999  2024-11-04 00:00:00                    #viral #funny   3369429  481347

      comments  shares  engagement_rate  sentiment_score  is_viral
0        15800     861           0.0598            0.464         1
1        11289   54887           0.0695           -0.800         1
2        47196   44132           0.1702            0.416         0
3          774   59736           0.0740            0.877         1
4         5316   83105           0.0903            0.223         1
...        ...     ...              ...              ...       ...
1995      9430   91550           0.0416           -0.541         1
1996      2764   16092           0.0867            0.287         1
1997     40963   95697           0.1923            0.604         1
1998     15042   67422           0.0557           -0.861         1
1999     13455    9492           0.1497            0.297         1

[2000 rows x 15 columns]>

In [23]:
df.describe

<bound method NDFrame.describe of         post_id        platform content_type       topic language    region  \
0     SM_100000       Instagram         text      Sports       ur        UK
1     SM_100001       Instagram     carousel      Sports       ur    Brazil
2     SM_100002  YouTube Shorts        video  Technology       ur        UK
3     SM_100003               X         text    Politics       ur        US
4     SM_100004  YouTube Shorts         text   Education       es        US
...         ...             ...          ...         ...      ...       ...
1995  SM_101995  YouTube Shorts         text      Sports       es        US
1996  SM_101996       Instagram         text    Politics       en    Brazil
1997  SM_101997               X     carousel   Education       ur        UK
1998  SM_101998               X     carousel      Sports       ur        UK
1999  SM_101999               X     carousel    Politics       ur  Pakistan

            post_datetime                         hashtags     views   likes  \
0     2024-12-10 00:00:00              #tech #funny #music   2319102  122058
1     2024-10-13 00:00:00  #news #fyp #funny #ai #trending   2538464  110368
2     2024-05-03 00:00:00                        #ai #news   1051176   87598
3     2024-08-04 00:00:00                       #ai #funny   5271440  329465
4     2024-03-28 00:00:00     #news #ai #viral #funny #fyp   3186256  199141
...                   ...                              ...       ...     ...
1995  2024-02-11 00:00:00                #funny #music #ai  14112183  486627
1996  2024-02-12 00:00:00                 #viral #trending   5604744  467062
1997  2024-05-01 00:00:00                   #trending #fyp   2031920  253990
1998  2024-12-23 00:00:00           #funny #trending #tech   5237350  209494
1999  2024-11-04 00:00:00                    #viral #funny   3369429  481347

      comments  shares  engagement_rate  sentiment_score  is_viral
0        15800     861           0.0598            0.464         1
1        11289   54887           0.0695           -0.800         1
2        47196   44132           0.1702            0.416         0
3          774   59736           0.0740            0.877         1
4         5316   83105           0.0903            0.223         1
...        ...     ...              ...              ...       ...
1995      9430   91550           0.0416           -0.541         1
1996      2764   16092           0.0867            0.287         1
1997     40963   95697           0.1923            0.604         1
1998     15042   67422           0.0557           -0.861         1
1999     13455    9492           0.1497            0.297         1

[2000 rows x 15 columns]>

In [24]:
df.describe(include="object")

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags
count,2000,2000,2000,2000,2000,2000,2000,2000
unique,2000,4,4,6,5,5,366,1229
top,SM_100000,Instagram,carousel,Education,en,US,2024-07-06 00:00:00,#viral #news
freq,1,539,528,347,420,428,15,16

The engagement rates column represents the engagement metrics
We have no missing values
platform has the highest average value